torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
streamlit
transformers
ultralytics
easyocr
opencv-python-headless
librosa
moviepy
assemblyai
groq
tensorflow-cpu
tensorflow-hub
numpy
Pillow
